md-toolbar(ng-class="{'extended': datasetSettingsVisible}")
  .md-toolbar-tools(layout="row")
    h3(flex='')
      span Dataset:
      md-autocomplete(
        md-items="d in datasets"
        md-item-text="d.title"
        placeholder="Select Dataset"
        md-min-length="0"
        md-search-text="searchQueryDataset"
        md-selected-item="selectedDataset"
        md-selected-item-change="selectDataset(d)"
      )
        md-item-template
          span(md-highlight-text="searchQueryDataset") {{d.title}}

    .actions(flex=20)
      md-button.md-fab.md-mini(aria-label="Dataset Settings", ng-click='toggleDatasetSettings()', ng-if='dataset')
        i.zmdi.zmdi-settings.zmdi-hc-lg

.toolbar-extension.dataset-settings(ng-if='datasetSettingsVisible', layout='row')
  // Structure Specification
  md-card.dataset-structure-select.flat.no-border(flex='')
    md-card-content
      h2.md-title Dataset Structure
      md-radio-group(ng-model='dataset.details.structure')
        md-radio-button.md-primary(ng-repeat='s in structures', value='{{s.name}}') {{s.displayName}}

  // Dataset Modification
  md-card.dataset-delete-select.flat.no-border(flex='')
    md-card-content
      h2.md-title Modify Dataset
      section(layout='row')
        md-button.md-light.md-warn.md-raised(aria-label='button', ng-click='removeDataset(dataset.dID)') Delete Dataset


// Datasets
section(layout='vertical', layout-fill='', layout-align='center center', ng-if='!dataset', flex='')
  md-progress-circular(md-mode='indeterminate')

div(ng-if='dataset.details.sample', flex='')
  .dataset-spreadsheet
  table(data='dataset.details.sample', selector="'.dataset-spreadsheet'", headers='dataset.details.column_attrs', rowheader='true')

