md-toolbar
  .md-toolbar-tools
    h3
      span Dataset:
      md-autocomplete(
        md-items="d in datasets"
        md-item-text="d.title"
        placeholder="Select Dataset"
        md-min-length="0"
        md-search-text="searchQueryDataset"
        md-selected-item="selectedDataset"
        md-selected-item-change="selectDataset(d)"
      )
        md-item-template
          span(md-highlight-text="searchQueryDataset") {{d.title}}

// Upload
.drop(ng-show='dropSupported', ng-file-drop='onFileSelect($files)', ng-file-drop-available='dropSupported=true', ng-file-drag-over-class='dragOverClass($event)', ng-file-drag-over-delay='100', flex='', layout="column", layout-align="center center", layout-margin)
  md-progress-circular(ng-if="uploading", md-mode='indeterminate')

  button.md-button.md-light.md-raised.md-primary(ng-if="!uploading", ng-file-select='onFileSelect($files)', data-multiple='true', title='select file', onclick='this.value = null')
    | Select & upload a file
  span(ng-if="!uploading")
    | or drop files here to upload
