.viz-viewport(layout-fill='', layout='column', layout-align='starter', flex='')

  md-toolbar.segmentation-block(ng-class="{'extended': builderCtrl.selectedParams.field_a}")
    .md-toolbar-tools
      h3.category-title
        span Visualize

      md-autocomplete(ng-if="builderCtrl.datasetsLoaded", md-items="d in builderCtrl.datasets", md-item-text="d.title", placeholder="Dataset", md-min-length="0", md-search-text="datasetQuery", md-selected-item="builderCtrl.selectedDataset", md-selected-item-change="builderCtrl.onSelectDataset(d)")
        md-item-template
          span(md-highlight-text="datasetQuery") {{d.title}}
        md-not-found
          span No matches found.

      .first-segment-selector(ng-if="builderCtrl.selectedDataset && builderCtrl.propertiesLoaded")
        .phrase
          span by
        .selector
          md-autocomplete(md-items="a in builderCtrl.getAttributes({primary: true})", md-item-text="a.label", placeholder="Field", md-min-length="0", md-search-text="searchQueryA", md-selected-item="builderCtrl.attributeA", md-selected-item-change="builderCtrl.onSelectFieldA()")
            md-item-template
              span(md-highlight-text="searchQueryA") {{a.label}}

      .second-segment-selector(ng-if="builderCtrl.selectedParams.field_a")
        .selector
          md-select(ng-model="builderCtrl.selectedParams.operation", md-on-close="builderCtrl.onSelectOperation()")
            md-option(ng-repeat="operation in builderCtrl.availableOperations", ng-value="operation.value")
              | {{ operation.title }}

      .third-segment-selector(ng-if="builderCtrl.isGrouping && builderCtrl.selectedParams.field_a")
        .selector
          md-select(ng-model="builderCtrl.selectedParams.arguments.function", md-on-close="builderCtrl.onSelectAggregationFunction()")
            md-option(ng-repeat="func in builderCtrl.availableAggregationFunctions", ng-value="func.value")
              | {{ func.title }}

      .fourth-segment-selector(ng-if="builderCtrl.selectedParams.field_a && builderCtrl.selectedParams.arguments.function != 'count'")
        .phrase(ng-if="builderCtrl.isGrouping")
          span vs
        .selector
          md-autocomplete(md-items="a in builderCtrl.getAttributes({secondary: true})", md-item-text="a.label", placeholder="Field", md-min-length="0", md-search-text="searchQueryB", md-selected-item="builderCtrl.attributeB", md-selected-item-change="builderCtrl.onSelectFieldB()")
            md-item-template
              span(md-highlight-text="searchQueryB") {{a.label}}

  .toolbar-extension(ng-if="builderCtrl.selectedParams.field_a")
    .toolbar-extension-component(layout='row')
      h3.category-title
        span Conditionals

      md-autocomplete(md-items="a in builderCtrl.getAttributes()", md-item-text="a.label", placeholder="field", md-min-length="0", md-search-text="conditionalFieldQuery", md-selected-item="builderCtrl.conditional1Field", md-selected-item-change="builderCtrl.onSelectConditional1Field()")
        md-item-template
          span(md-highlight-text="builderCtrl.conditional1Field") {{a.label}}

      md-select.select-small(ng-if='builderCtrl.conditional1IsNumeric' ng-disabled='!builderCtrl.conditional1Field', ng-model="builderCtrl.conditional1.operation")
        md-option(ng-repeat="o in builderCtrl.OPERATORS.NUMERIC", ng-value="o.value")
          | {{o.title}}

      md-select.select-small(ng-if='!builderCtrl.conditional1IsNumeric' ng-disabled='!builderCtrl.conditional1Field', ng-model="builderCtrl.conditional1.operation")
        md-option(ng-repeat="o in builderCtrl.OPERATORS.DISCRETE", ng-value="o.value")
          | {{o.title}}

      md-input-container(ng-if='builderCtrl.conditional1IsNumeric', ng-disabled='!builderCtrl.conditional1.operation || !builderCtrl.conditional1Field')
        input(type="text", ng-model="builderCtrl.conditional1.criteria", ng-change="builderCtrl.onChangeConditional()", ng-disabled='!builderCtrl.conditional1.operation || !builderCtrl.conditional1Field')

      md-autocomplete(
        ng-if='!builderCtrl.conditional1IsNumeric'
        md-items="value in builderCtrl.getConditional1Values()",
        md-item-text="value",
        placeholder="",
        md-min-length="0",
        md-search-text="conditionalValueQuery",
        md-selected-item="builderCtrl.conditional1.criteria",
        md-selected-item-change="builderCtrl.onChangeConditional()"
      )
        md-item-template
          span(md-highlight-text="builderCtrl.conditional1.criteria") {{value}}

  visualization(spec='builderCtrl.selectedParams', data='builderCtrl.visualizationData')
    md-content(flex='', layout='column')
      .visualization(flex='', layout='row')
        .left-side(layout='column', flex='')
          md-progress-linear(md-mode='indeterminate', ng-if='loadingViz', flex='')
          #viz-container(flex='')

  datatable(ng-if='builderCtrl.tableData.data' data='builderCtrl.tableData.data', selector=".datatable", headers='builderCtrl.tableData.columns', rowheader='false', height=1000, sortindex=1, sortorder='false')
    .datatable

